.idea
demo-ext-js/ui/adacta/bootstrap.*
demo-ext-js/ui/adacta/.project
demo-ext-js/ui/adacta/sass/example/bootstrap.*
demo-ext-js/ui/adacta/sass/example/example.css
demo-ext-js/ui/build
adacta-platform/target/
adacta-share/target/
repo/target/
runner/target/
share/target/
solr-config/target/
adacta-platform/.classpath
adacta-share/.classpath
adacta-platform/.settings
adacta-share/.settings
share/.settings
runner/.settings
solr-config/.settings
solr-config/.project
repo/.project
runner/.project
share/.project



.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
org.eclipse.jdt.core.prefs
pom.xml.versionsBackup
alf_data_dev/
alfresco.log*
solr.log*
/repo/overlays
/share/overlays
*.iml
.settings
*.log
sync-batch.log*
.DS_Store
*target/
