<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Classpath properties override module defaults -->
	<context:property-placeholder location="classpath:alfresco-global.properties"
		ignore-unresolvable="true" order="0" />
	<context:property-placeholder
		location="file:src/main/amp/config/alfresco/module/adacta-platform/alfresco-global.properties"
		ignore-unresolvable="false" order="1" />
	<context:annotation-config />

    <!-- Spring service beans -->
	<bean id="adacta2DatabaseService" class="nl.defensie.adacta.service.Adacta2DatabaseService" />

	<!-- Registry for tests to access Spring bean instances -->
	<bean id="testContext" class="nl.defensie.local.TestContext" />

	<bean id="disp8" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${adacta.jdbc.disp8.driverClassName}" />
		<property name="url" value="${adacta.jdbc.disp8.url}" />
		<property name="username" value="${adacta.jdbc.disp8.username}" />
		<property name="password" value="${adacta.jdbc.disp8.password}" />
		<property name="initialSize" value="${adacta.jdbc.disp8.initialSize}" />
		<property name="maxActive" value="${adacta.jdbc.disp8.maxActive}" />
		<property name="maxIdle" value="${adacta.jdbc.disp8.maxIdle}" />
	</bean>
</beans>